
* {
    margin: 0;
    padding: 0;
}
html {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
body {
    width: 100%;
    background: #DFDFEF;
    font-family: 'Helvetica Neue';
    color: #414141;
    font-size: 1.5em;
    line-height: 1.3em;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
}

#welcome {
    position: fixed;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin: -120px 0 0 -255px;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    background: none;
    color: white;
}

#welcome input{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 2em;
    line-height: 1.2;
    background: #1E2C3D;
    margin-bottom: 0;
    text-align: center;
}
#welcome input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(255, 255, 255, 0.3);
}
#welcome input:focus {
    border:none;
    color: white;
}

#welcome button {
    display: inline-block;
    height: 50%;
    width: 50%;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 2em;
    line-height: 1.2;
    background: linear-gradient(0deg, #1E2C3D 00%, #3E364E 100%);
    cursor: pointer;
    border: 1px solid transparent;
}

#welcome button:hover,
#welcome button:focus {
    color: crimson;
    text-decoration: none;
}

#welcome button:active,
#welcome button.active {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.left {
    float: left;
}

.right {
    float: right;
}
#wrapper {
    width: 1350px;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    //visibility: hidden;
}
#draw {
    margin: 100px auto;
    height: 650px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    position: relative;
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
#canv {
    background-color: aliceblue;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    cursor: crosshair;
}
.tools-bar {
    width: 50px;
    height: 50px;
    display: inline-block;
}
.divs {
    float: left;
}

#chat {
    background: linear-gradient(0deg, #1E2C3D 00%, #3E364E 100%);
    margin: 100px auto;
    width: 500px;
    height: 650px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    /*border : 1px solid #000;*/
    overflow: hidden;
    position: relative;
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.chat-header {
    background: #fff;
    padding: 0.5em;
    padding-bottom: .7em;
    text-align: center;
}
.chat-header span {
    font-size: 12px;
    position: absolute;
    margin: 47px -50px;
    font-style: italic;
}

.user-profile {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    border-radius: 40%;
    background: #DFDFEF;
    margin: 0 10px;
    background-size: cover;
    /*background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    );*/
    cursor: pointer;
}

.user-profile h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 5px black, 0 0 5px black, 0 0 5px black;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.user-profile.active {

}

.user-profile.inactive {
    box-shadow: 0 5px 30px rgba(240, 128, 128, 0.7);
}

.chat-profile {
    width: 23px;
    height: 23px;
    float: left;
    clear: left;
    border-radius: 100%;
    background: #DFDFEF;
    margin: 2px 10px;
    background-size: cover;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

#msgarea {
    position: absolute;
    padding: 20px;
    width: 500px;
    height: 500px;
    overflow: auto;
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    opacity: 1;
}

#msgarea span {
    font-weight: lighter;
    color: greenyellow;
}

p {
    margin: 0;
}

.send {
    padding: 1.2em;
    margin-top: 500px;
}

input {
    width: 100%;
    border: none;
    padding: 0.7em;
}
#wrapper input {
    background: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.3);
}
#wrapper input:focus {
    border: none;
    color: lightgray;
}

.bubble {
    float: left;
    width: auto;
    max-width: 80%;
    position: relative;
    clear: right;
    background: #95c2fd;
    padding: 0.3em 0.5em;
    background: linear-gradient(40deg, rgba(255, 255, 255, 0.2) 00%, rgba(255, 255, 255, 0.3) 100%);
    border-radius: 3px;
    box-shadow: 0 5px 30px rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.7);
    word-wrap: break-word;
    font-size: 1em;
    margin-top: 0px;
    opacity: 1;
}
.bubble.info {
    background-color: salmon;
    color: #414141;
    clear: both;
    margin-left: 150px;
}
.bubble-alt {
    float: right;
}

.dt-alt {
    float: right;
}

.draw-header {
    background: #fff;
    height: 73px;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: Lato;
    font-weight: 300;
}
.headeritem{
    text-align: center;
    color: black;
    font-size: 30px;
    padding: 20px;
    vertical-align: middle;
}

#clock {
    margin-right: -30px;
    width: 20%;
    text-align: center;
}

#roomid {
    margin-left: -30px;
    width: 20%;
    text-align: center;
}

#hint {
    font-weight: 300;
    width: 30%;
    margin: 0 auto;
}

.hint_word {
    background-color: gray;
    opacity: 0.2;
    font-size: 20px;
}

#rcdWrapper {
    /*width: 100%;
    height: 100%;*/
    width: 800px;
    height: 577px;
    display: table;
    position: absolute;
    z-index: 1000;
    vertical-align: middle;
    background-color: rgba(0,0,0,.85);
    text-align: center;
    font-size: 70px;
    font-weight: lighter;
    font-family: Lato;
    color: white;
    line-height: 1.2857em;
    text-transform: none;
    visibility: hidden;
}

.score {
    font-size: 35px;
    line-height: 0.8em;
}

.saving {
    font-size: 40px;
}

.saving span {
    font-size: 50px;
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.saving span:nth-child(2) {
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    animation-delay: .4s;
}

@keyframes blink {
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

.tool-bar {
    margin: 173px auto;
    width: 50px;
    text-align: center;
    background-color: #1E2C3D;
}

.tool-bar a{
    padding: 15px;
    display: block;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}
.tool-bar input{
    padding: 4px 10px 4px 10px;
    height: 40px;
    display: block;
    transition: all 0.3s ease;
}


.tool-bar a:hover {
    background-color: #95c2fd;
}

#large {
    font-size: 20px;
}

#medium {
    font-size: 15px
}

#small {
    font-size: 10px;
}

.active {
    background-color: #95c2fd;
}






